<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Theft Detection System</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>🚨 Theft Detection System</h1>
  <p>Images captured from the detector will be stored in the database.</p>
  <a href="/gallery" class="btn">View Detected Images</a>

  <br><br>
  <a href="/camera" class="btn">Open Live Camera</a>
</body>
</html>
